{% load static %}

{% load custom_filters %}
<html>

<head>
    <!-- caracteres especiales -->
    <meta charset="UTF-8">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title tag page -->
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <!-- Bootstrap -->
    <link href='{% static "/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Styles -->
    <link href='{% static "/css/gestion.css" %}' rel="stylesheet">
    <link href='{% static "/css/loader.css" %}' rel="stylesheet">
    <!-- extra css -->
    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">Order Management</span>
    </h1>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
                href="{% url 'base:home' %}">
                Order Management
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item px-lg-4 {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'base:home' %}">Home</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':10' == '/services/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/services/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'services:home' %}">Services</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':7' == '/store/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/store/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'store:home' %}">Store</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':6' == '/blog/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/blog/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'blog:home' %}">Blog</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':9' == '/contact/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/contact/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'contact:home' %}">Contact</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':6' == '/cart/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/cart/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded position-relative" href="{% url 'cart:home' %}">
                                Shopping Cart
                                {% if request.session.cart|length > 0 %}
                                    <span class="notification-badge-cart">{{ request.session.cart|length }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item px-lg-4 dropdown-custom {% if request.path|startswith:'/user/' %}active{% endif %}">
                            <a
                                class="nav-link text-uppercase text-expanded dropdown-toggle-custom"
                                href="#"
                                id="navbarDropdown">
                                User
                                <i class="bi bi-arrow-down-short"></i>
                            </a>
                            <ul class="dropdown-menu-custom" aria-labelledby="navbarDropdown">
                                <li class="nav-item-sub px-lg-4 {% if request.path|startswith:'/user/perfil/' %}active{% endif %}">
                                    <a
                                        class="nav-link text-uppercase text-expanded"
                                        href="{% url 'user:perfil' request.user.pk %}">
                                        Perfil -> Hello {{ request.user.name|cut:" " }} {{ request.user.lastname|cut:" " }}
                                    </a>
                                </li>
                                <li class="nav-item-sub px-lg-4 {% if request.path|startswith:'/user/config/' %}active{% endif %}">
                                    <a
                                        class="nav-link text-uppercase text-expanded"
                                        href="#">
                                        Configuración
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item-sub px-lg-4 {% if request.path|startswith:'/user/password_change/' %}active{% endif %}">
                                    <a 
                                        class="nav-link text-uppercase text-expanded"
                                        href="{% url 'user:password_change' %}">
                                        Password Change
                                    </a>
                                </li>
                                <li class="nav-item-sub px-lg-4 {% if request.path|startswith:'/user/logout/' %}active{% endif %}">
                                    <a 
                                        class="nav-link text-uppercase text-expanded"
                                        href="{% url 'user:logout' %}">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item px-lg-4 {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'base:home' %}">Home</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':10' == '/services/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/services/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'services:home' %}">Services</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':7' == '/store/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/store/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'store:home' %}">Store</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':6' == '/blog/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/blog/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'blog:home' %}">Blog</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':9' == '/contact/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/contact/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'contact:home' %}">Contact</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':12' == '/user/login/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/user/login/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'user:login' %}">Login In</a>
                        </li>
                        <!-- <li class="nav-item px-lg-4 {% if request.path|slice:':15' == '/user/register/' %}active{% endif %}"> otra forma que comience con -->
                        <li class="nav-item px-lg-4 {% if request.path|startswith:'/user/register/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'user:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- content -->
    {% block content %}
    {% endblock content %}
    <!-- Message -->
    <section class="page-section cta" style="background-color: transparent;">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Compromiso total</span>
                            <span class="section-heading-lower" style="font-size: 35px;">Garantizado</span>
                        </h2>
                        <p class="mb-0">Con más de 75 años de experiencia a nuestras espaldas, desde Gestión de Pedidos
                            tenemos los conocimientos y herramientas necesarios para llevar cualquier objeto a la puerta
                            de su casa con puntualidad y profesionalidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0">
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </p>
            <p class="m-0 mbt">
                <a href="#" class="link">Política de privacidad</a> ·
                <a href="#" class="link">Aviso legal</a> ·
                <a href="#" class="link">Cookies</a>
            </p>
            <p class="m-0 mbt1">&copy; W.A.R.J - Order Management 2025</p>
        </div>
    </footer>
    <button onclick="scrollToTop()" id="scrollToTopBtn" class="btn btn-dark rounded-circle shadow" title="Volver arriba">
        <i class="bi bi-arrow-up-short"></i>
    </button>
    <div class="loader-overlay" id="loader">
        <div class="loader"></div>
    </div>
    <!-- Bootstrap -->
    <script src='{% static "/vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/loader.js' %}"></script>
    <!-- sirve en general para cualquier message que mande django con su sistema de mensajes -->
    <script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    errorNotification("{{ message|escapejs }}");
                {% elif message.tags == 'success' %}
                    successNotification("{{ message|escapejs }}");
                {% elif message.tags == 'info' %}
                    infoNotification("{{ message|escapejs }}");
                {% elif message.tags == 'warning' %}
                    warningNotification("{{ message|escapejs }}");
                {% else %}
                    debugNotification("{{ message|escapejs }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    <!-- extra js -->
    {% block extra_js %}
    {% endblock extra_js %}
</body>

</html>