{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <!-- Message -->
    <section class="page-section cta" style="background-color: transparent;">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center card-form-contact">
                        <div class="card-form-contact-in">
                            <h2 class="section-heading mb-4">
                            <!-- <span class="section-heading-upper">Compromiso total</span> -->
                            <span class="section-heading-lower" style="font-size: 35px;">Password Change</span>
                            </h2>
                            <form method="POST">
                                {% csrf_token %}
                                <!-- password1 -->
                                <div class="field-form-contact">
                                    {{ form.password1.label }}
                                    {{ form.password1 }}
                                    <div {% if form.password1.errors %}style="margin: 10px;"{% endif %}>
                                        {% if form.password2.errors %}
                                            {% for error in form.password1.errors %}
                                                <div class="alert alert-danger alert-dismissble">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong>Error: {{ error | escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- password2 -->
                                <div class="field-form-contact">
                                    {{ form.password2.label }}
                                    {{ form.password2 }}
                                    <div {% if form.password2.errors %}style="margin: 10px;"{% endif %}>
                                        {% if form.password2.errors %}
                                            {% for error in form.password2.errors %}
                                                <div class="alert alert-danger alert-dismissble">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong>Error: {{ error | escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary btn-send-contact">Password Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}